{% load static %}

<!-- Main content -->
<div class="flex-1 p-0 bg-gray-100 w-full">
    <!-- Header -->
    <div class="h-20 bg-gray-400 flex items-center justify-between px-4 shadow-lg mb-8">
        <div class="flex items-center space-x-3">
            <button onclick="logout()" class="logout bg-[#ff4d4d] text-white p-2 rounded-lg flex items-center">
                <i class="fas fa-sign-out-alt"></i>
            </button>
            <h1 class="text-white text-lg">Bem-vindo de volta!</h1>
        </div>
    </div>
</div>
