{% load static %}

<div class="flex min-h-screen">
        <!-- Sidebar Menu -->
        <div class="bg-red-700 text-white w-56 p-5 rounded-br-lg flex flex-col items-center">
            <img src="{% static 'img/whitesenailogo.svg'%}" alt="SENAI Logo" />
            <a href="{% url 'adm_dashboard' %}" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300" style="padding: 20px;">INÍCIO</a>
            <a href="{% url 'funcionarios' %}" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300" style="padding: 20px;">FUNCIONÁRIOS</a>
            <a href="{% url 'servico' %}" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300" style="padding: 20px;">SERVIÇOS</a>
            <a href="{% url 'feedback_adm' %}" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300" style="padding: 20px;">FEEDBACK</a>
</div>

