<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Usuários</title>

    <link rel="stylesheet" href="../../assets/css/admdashboard.css">
    <link rel="stylesheet" href="../../assets/css/novofuncionario.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar Menu -->
        <div class="sidebar">
            <img src="{% static 'img/whitesenailogo.svg'%}" alt="SENAI Logo" />
            <a href="{% url 'adm_dashboard' %}">INÍCIO</a>
            <a href="{% url 'funcionarios' %}">FUNCIONÁRIOS</a>
            <a href="{% url 'servico' %}">SERVIÇOS</a>
            <a href="{% url 'feedback' %}">FEEDBACK</a>
        </div>

          <!-- Header -->
        <div class="main">
          <!-- Header -->
          <div class="header">
            <div class="header-left" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 10px;">
            <button onclick="logout()">SAIR</button>
            <h1 style="margin-left: 10px;">Bem vindo de volta!</h1>
            </div>            

          </div>


          <!-- Formulário de Usuários -->
          <div class="form-container">
            <h2>FORMULÁRIO DE USUÁRIOS</h2>

            <div class="form-group">
              <label for="nome">Nome Completo</label>
              <input type="text" id="nome" name="nome" />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" />
            </div>

            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" id="senha" name="senha" />
            </div>

            <div class="form-group">
              <label for="nif">NIF</label>
              <input type="text" id="nif" name="nif" />
            </div>

            <div class="form-group">
              <label for="tipoUsuario">Tipo de Usuário</label>
              <select id="tipoUsuario" name="tipoUsuario">
                <option value="" disabled selected>Selecione</option>
                <option value="Administrador">Administrador</option>
                <option value="Trabalhador">Manutenção</option>
                <option value="Geral">Geral</option>
              </select>
            </div>

            <button type="button" id="submitData" class="submit-button">Criar Usuário</button>
          </div>
        </div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-app.js";
        import {
          getFirestore,
          addDoc,
          collection
        } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-firestore.js";

        // Configurações do Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyBjHux5Th122xDRmD35KsdjfTzrezHU8bY",
            authDomain: "fir-crud-56c52.firebaseapp.com",
            projectId: "fir-crud-56c52",
            storageBucket: "fir-crud-56c52.appspot.com",
            messagingSenderId: "906266562649",
            appId: "1:906266562649:web:55742c6c6b67449857e148",
            measurementId: "G-VN53GXMXM6"
        };

        // Inicializa o Firebase
        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        // Função para adicionar usuário ao Firestore
        document.getElementById("submitData").addEventListener("click", async () => {
            const nome = document.getElementById("nome").value;
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;
            const nif = document.getElementById("nif").value;
            const tipoUsuario = document.getElementById("tipoUsuario").value;

            if (nome && email && senha && nif && tipoUsuario) {
                try {
                    await addDoc(collection(db, "users"), {
                        nome: nome,
                        email: email,
                        senha: senha,
                        nif: nif,
                        tipoUsuario: tipoUsuario
                    });
                    alert("Usuário cadastrado com sucesso!");
        window.location.href = "../../pages/adm/funcionarios.html";

                } catch (error) {
                    console.error("Erro ao adicionar usuário: ", error);
                }
            } else {
                alert("Por favor, preencha todos os campos!");
            }
        });
    </script>

        <script src="../../assets/js/verificacao.js"></script>

</body>
</html>
