{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Feedback</title>

    <link rel="stylesheet" href="{% static 'css/admdashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/novofuncionario.css'%}">
</head>
<body>
    <div class="container">
        <!-- Sidebar Menu -->
        <div class="sidebar">
            <img src="{% static 'img/whitesenailogo.svg'%}" alt="SENAI Logo" />
            <a href="{% url 'adm_dashboard' %}">INÍCIO</a>
            <a href="{% url 'funcionarios' %}">FUNCIONÁRIOS</a>
            <a href="{% url 'servico' %}">SERVIÇOS</a>
            <a href="{% url 'feedback' %}">FEEDBACK</a>
        </div>

        <!-- Header -->
        <div class="main">
          <div class="header">
            <div class="header-left" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 10px;">
              <button onclick="logout()">SAIR</button>
              <h1 style="margin-left: 10px;">Bem vindo de volta!</h1>
            </div>            
          </div>

          <!-- Formulário de Feedback -->
          <div class="form-container">
            <h2>FORMULÁRIO DE FEEDBACK</h2>

            <div class="form-group">
              <label for="nomeos">Nome da Ordem de Serviço</label>
              <select id="nomeos" name="nomeos" required>
                <option value="" disabled selected>Selecione uma Ordem de Serviço Finalizada</option>
                <!-- As opções serão preenchidas dinamicamente -->
              </select>
            </div>

            <!-- Campo de upload de arquivo (imagem ou vídeo) -->
            <div class="form-group">
              <label for="arquivo">Foto ou Vídeo</label>
              <input type="file" id="arquivo" name="arquivo" accept="image/*,video/*" />
            </div>

            <!-- Feedback do Usuário -->
            <div class="form-group">
              <label for="feedback">Comentários ou Avaliação</label>
              <textarea id="feedback" name="feedback" placeholder="Deixe seu feedback aqui" required></textarea>
            </div>

            <button type="button" id="submitData" class="submit-button">Enviar Feedback</button>

            <h3>Ordens de Serviço Finalizadas:</h3>
            <ul id="finalizedOrdersList"></ul> <!-- Lista para exibir as ordens finalizadas -->
          </div>
        </div>
    </div>

    <script type="module" src="{% static 'js/novo-feedback.js'%}"></script>

    <script src="{%% static 'js/verificacao.js'}"></script>
</body>
</html>
