{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Feedback</title>

    <link rel="stylesheet" href="{% static 'css/admdashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/novofuncionario.css'%}">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="sideright">
        <!-- Sidebar Menu -->
        {% include 'components/adm-sidebar.html' %}

  
         <!-- Main content -->
         <div class="main">
             <!-- Header -->
             {% include 'components/adm-header.html' %}
 
             <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}  <!-- Renderiza o formulário -->
              <button type="submit">Enviar</button>
          </form>
      
    </div>


    <script type="module" src="{% static 'js/novo-feedback.js'%}"></script>

    <script src="{%% static 'js/verificacao.js'}"></script>
</body>
</html>
