{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Serviços</title>

    <link rel="stylesheet" href="{% static 'css/admdashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/novofuncionario.css' %}">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body>
        <div class="sideright">
        <!-- Sidebar Menu -->
        {% include 'components/adm-sidebar.html' %}

  
        <!-- Main content -->
        <div class="main">
        <!-- Header -->
        {% include 'components/adm-header.html' %}


      <!-- Formulário de Serviços -->
      <div class="form-container">
        <h2>FORMULÁRIO DE SERVIÇOS</h2>
        <div class="form-group">
          <label for="nome">Nome da Ordem de Serviço</label>
          <input type="text" id="nome" name="nome" />
        </div>
        <div class="form-group">
          <label for="descricao">Descrição da Solicitação</label>
          <input type="text" id="descricao" name="descricao" />
        </div>
        <div class="form-group">
          <label for="criador">Solicitante</label>
          <input type="text" id="criador" name="criador"/>
        </div>
           <div class="form-group">
          <label for="criador">Em qual bloco há necessidade de manutenção?</label>
                 <img src="{% static 'img/blocosenai.png' %}" alt="Imagem de Manutenção" class="imagem-manutenção">
                 <select id="blocoManutenção" name="blocoManutenção">
                <option value="" disabled selected>Selecione</option>
                <option value="blocoA0">Bloco A0</option>
                <option value="blocoA1">Bloco A1</option>
                <option value="blocoB0">Bloco B0</option>
                <option value="blocoB1">Bloco B1</option>
                <option value="blocoC0">Bloco C0</option>
                <option value="blocoC1">Bloco C1</option>
                <option value="blocoD0">Bloco D0</option>
                <option value="blocoE0">Bloco E0</option>
                <option value="blocoF0">Bloco F0</option>
                <option value="blocoG0">Bloco G0</option>
              </select>
        </div>
        <div class="form-group">
          <label for="atribuido">Atribuído a</label>
          <select id="atribuido" name="atribuido">
            <option value="">Selecione</option>
          </select>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
              <select id="status" name="status">
                <option value="" disabled selected>Selecione</option>
                <option value="Em análise">Em análise</option>
              </select>       
        </div>

        <div class="form-group">
          <label for="ambiente">Ambiente</label>
          <input type="text" id="ambiente" name="ambiente" />
        </div>

        <div class="form-group">
            <label for="tipoSolicitacao">Tipo da Solicitação</label>
              <select id="tipoSolicitacao" name="tipoSolicitacao">
                <option value="" disabled selected>Selecione</option>
                <option value="ObrasReformas">Obras e Reformas</option>
                <option value="ManutencaoCorretiva">Manutenção Corretiva</option>
                <option value="ManutencaoCorretiva">Manutenção Preventiva</option>
                <option value="Geral">Programada</option>
                <option value="Limpeza">Limpeza</option>
                <option value="Calibracao">Calibração de Equipamentos</option>
                <option value="Instalacao">Instalação de Novos Equipamentos</option>
                <option value="Compras">Solicitação de Compras ou Estoque</option>
              </select>
        </div>

        <div class="form-group">
          <label for="dataPedido">Data do Pedido</label>
          <input type="date" id="dataPedido" name="dataPedido" />
        </div>
        <div class="form-group">
          <label for="dataLimite">Data Limite</label>
          <input type="date" id="dataLimite" name="dataLimite" />
        </div>

        <div class="form-group">
              <label for="prioridade">Prioridade</label>
              <select id="prioridade" name="prioridade">
                <option value="" disabled selected>Selecione</option>
                <option value="Baixa">Baixa</option>
                <option value="Media">Média</option>
                <option value="Alta">Alta</option>
              </select>
        </div>

        <button type="button" id="submitData" class="submit-button">CRIAR ODS</button>
      </div>
    </div>

  <!-- Firebase Firestore Script -->
  <script type="module" src="{% static 'js/novo-servico-adm.js'%}"></script>
  
  <script src="{% static 'js/verificacao.js'%}"></script>

</body>

</html>