<div class="container">
        <!-- Sidebar Menu -->
        <div class="sidebar">
            <img src="../../assets/img/whitesenailogo.svg" alt="SENAI Logo" />
            <a href="{% url 'adm_dashboard' %}">INÍCIO</a>
            <a href="{% url 'funcionarios' %}">FUNCIONÁRIOS</a>
            <a href="{% url 'servico' %}">SERVIÇOS</a>
            <a href="{% url 'feedback' %}">FEEDBACK</a>
        </div>
  
        <!-- Main content -->
        <div class="main">
            <!-- Header -->
            <div class="header">
                <div class="header-left" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 10px;">
                    <button onclick="logout()">SAIR</button>
                    <h1 style="margin-left: 10px;">Bem vindo de volta!</h1>
                </div>            
            </div>