<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="flex min-h-screen">
        <!-- Sidebar Menu -->
        <div class="bg-red-700 text-white w-56 p-5 rounded-br-lg flex flex-col items-center">
            <img src="../../assets/img/whitesenailogo.svg" alt="SENAI Logo" class="w-36 mb-8" />
            <a href="admdashboard.html" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300">INÍCIO</a>
            <a href="funcionarios.html" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300">FUNCIONÁRIOS</a>
            <a href="servicos.html" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300">SERVIÇOS</a>
            <a href="feedback.html" class="flex items-center py-5 text-sm mb-2 rounded-lg hover:bg-red-800 transition duration-300">FEEDBACK</a>
        </div>

        <!-- Main content -->
        <div class="flex-1 p-0 bg-gray-100">
            <!-- Header -->
            <div class="h-20 bg-gray-400  flex items-center justify-between px-8 shadow-lg mb-8">
                <div class="flex items-center space-x-3">
                    <button class="bg-red-700 text-white px-4 py-2 rounded-md hover:bg-red-800 transition duration-300">SAIR</button>
                    <h1 class="text-white text-lg">Bem-vindo de volta!</h1>
                </div>
            </div>
        </div>
</body>
</html>
<!-- Adicionar o link para importar o Tailwind CSS -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
