{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENAI - Ordens de Serviço</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>

    </style>
  </head>
  <body>
    <div id="header-container"></div>

    <div class="container">
      <div class="stats">
        <div class="add-service-btn"></div>

        <div class="search-bar">
          <button
            class="new-service-button"
            onclick="window.location.href='novoservicogeral.html'"
          >
            Novo Serviço
          </button>
        </div>
      </div>
    </div>

    <!-- Tabela principal -->
    <h2 style="display: flex; justify-content: center; margin-bottom: 15px">
      Suas ordens de serviços solicitadas
    </h2>
    <table id="osTable" class="styled-table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Atribuído a</th>
          <th>Status</th>
          <th>Ambiente</th>
          <th>Data do Pedido</th>
          <th>Data Limite</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- Tabela para ordens de serviço finalizadas -->
    <h2
      style="
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
      "
    >
      Serviços Finalizados
    </h2>
    <table id="osFinalizadasTable" class="styled-table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Atribuído a</th>
          <th>Status</th>
          <th>Ambiente</th>
          <th>Data do Pedido</th>
          <th>Data Limite</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <p id="noFinalizados" style="text-align: center; display: none">
      Nenhum serviço finalizado encontrado.
    </p>

    <script type="module" src="{% static' js/geral-dashboard'%}"></script>

    <script type="module" src="{% static 'js/verificacao.js'%}"></script>

  </body>
</html>
