<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Ordem de Serviço</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static'css/detalhes.css'%}../../assets/css/detalhes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>


<div class="container">
    <div class="box">
        <h2>Detalhes da Ordem de Serviço</h2>
        <p><span>Ambiente:</span> <span id="ambiente">Carregando...</span></p>
        <p><span>Criador:</span> <span id="criador">Carregando...</span></p>
        <p><span>Data Limite:</span> <span id="dataLimite">Carregando...</span></p>
        <p><span>Data Pedido:</span> <span id="dataPedido">Carregando...</span></p>
        <p><span>Descrição:</span> <span id="descricao">Carregando...</span></p>
        <p><span>Prioridade:</span> <span id="prioridade">Carregando...</span></p>
        <p><span>Status:</span> <span id="status">Carregando...</span></p>
        <p><span>Tipo de Solicitação:</span> <span id="tipoSolicitacao">Carregando...</span></p>
    </div>
    <button class="voltar" onclick="Voltar()">Voltar</button>
</div>

<script src="../../assets/js/verificacao.js"></script>


<script type="module">
</script>

</body>
</html>
